gradio
openai

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

chromadb
sentence-transformers
faiss-cpu
pandas
numpy
python-dotenv

posthog
kagglehub
seaborn
matplotlib
transformers
tqdm
sympy